<%- include('header') -%>

<h2 style="text-align: center;">About Page</h2>

<div class="box">
    <p>This is a ToDoList created by Muhammad Abdullah.</p>
    <p>It is made with NodeJS, ExpressJS, EJS.</p>
</div>


<%- include('footer') -%>